{{ define "subject" }} Password Reset Instructions {{ end }}

{{ define "plainBody" }}
Hi,

We received a request to reset the password for your account. If you made this request, please submit the following JSON payload to the `PUT /v1/users/password-reset` endpoint within the next 45 minutes:

{"token": "{{ .resetToken }}", "password": "<new-password>"}

If you didn't request a password reset, you can safely ignore this email.

Thanks,
The Team
{{ end }}

{{ define "htmlBody" }}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi,</p>
    <p>We received a request to reset the password for your account. If you made this request, please submit the following JSON payload to the <code>PUT /v1/users/password-reset</code> endpoint within the next 45 minutes:</p>
    <pre><code>{"token": "{{ .resetToken }}", "password": "&lt;new-password&gt;"}</code></pre>
    <p>If you didn't request a password reset, you can safely ignore this email.</p>
    <p>Thanks,<br/>The Team</p>
  </body>
</html>
{{ end }}
